/dremio-data/db/
/dremio-data/dist/
/dremio-data/spill/
/dremio-data/zk/
/dremio-lib/dremio/
/docker/
/dremio-data/cm/
/mongo-data/.mongodb/
/mongo-data/diagnostic.data/
/mongo-data/journal/
/mongo-data/*.wt
/mongo-data/*.lock
/mongo-data/*.bson
/mongo-data/WiredTiger*
/dremio-data/security/
/pgadmin-data/azurecredentialcache/
/pgadmin-data/sessions/
/pgadmin-data/storage/
/pgadmin-data/pgadmin4.db
/superset_home/.local/
/n8n_data/config
/n8n_data/crash.journal
/superset_home/sqllab/
/.env
